.post{
    display: flex;
    flex-direction: column;
    width: 75vh;
    border: 5px solid red;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    background-color: aqua;
    font-size: 25pt;
    margin: 20px;
}
.likes{
  display: flex;
  flex-direction: row;
  height:50px;
  margin-right: 10px;
}
.bottom{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8%;
    width: 100%;
    bottom: 0;
    padding: 25px 0;
    background-color: white;
}
.bottomLeft{
    display: flex;
    margin: 10px 30px;
    align-items: left center;
}
.bottomName{
    margin: 0px 30px;
}
.posts{
    margin-top: 30px;
}
